__pycache__/
.ipynb_checkpoints/
venv

# Training data and models (in any subfolder)
**/dataset/
**/ov_model/
models_debug/
**/ground_truth/
**/input/
# **/selected/ the one selected model is uploaded.

# Build artifacts
*.onnx

# Files from inside the running container
data/*
config/*
data_debug/*
config_debug/*

# Secrets
.env
token.txt